<div class="col-md-8 col-md-offset-2">
  
<h2>Create Your Organization</h2>

<%= form_for(@image, url: images_path,html:{class: "form-horizontal","data-parsley-validate" => true}) do |f| %>

<div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label "Images",class:"col-lg-3 control-label" %>
        <div class="col-lg-12">
          <%= f.file_field :photo, multiple: false, class:"form-control","data-parsley-required"=>true, accept:'image/*'  %>
        </div>
      </div>
    </div>
</div>


  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
    <%= f.submit "Save",class:"btn btn-primary orgNameDisab"  %>
  </div>
  </div>

<% end %>
 
</div>